html,
body {
    direction: ltr;
    font-family: "Noto Sans", sans-serif;
    scroll-behavior: smooth !important;
    -moz-font-feature-settings: "ss03";
    -webkit-font-feature-settings: "ss03";
    font-feature-settings: "ss03";
}

.bodyStructure {
    display: flex;
    justify-content: space-between;
}

.mainContent {
    width: 100%;
    padding: 0 17px;
}

// .modal-backdrop {
//     -webkit-backdrop-filter: blur(2px);
//     backdrop-filter: blur(2px);
//     background-color: rgba(255, 255, 255, 0);
// }

// .modal-backdrop.show {
//     opacity: 0.9;
// }